<%- include ('./partials/header.ejs') %>
<body>
    <%- include ('./partials/navbar.ejs') %>

<div class="accordion" id="accordion">
  <%  var v_marca 
  //console.log(produto)
  console.log(produto[0].marca)
  produto.forEach(function(val,indice) {
    if(v_marca!=produto[indice].marca){
  %>
  <div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button bg-primary text-light" type="button" data-bs-toggle="collapse" data-bs-target="#<%= produto[indice].marca.replace(' ','') %>" aria-expanded="true" aria-controls="<%= produto[indice].marca.replace(' ','') %>">
        <%= produto[indice].marca %>
      </button>
    </h2>
      <% }
        v_marca = produto[indice].marca
      %>      
    <div id="<%= produto[indice].marca.replace(' ','') %>" class="accordion-collapse collapse" data-bs-parent="#accordion">
      <div class="accordion-body">
        <div class="row">
          <button type="button" key="<%=produto[indice].codprod%>,<%=produto[indice].descrprod%>,<%=produto[indice].vlrvenda%>,<%=produto[indice].codbarra%>" class="btn btn-secondary" id="addItem-<%=produto[indice].codprod%>" onclick="loadFormItem(<%=produto[indice].codprod%>)">
            <div id="item-<%=produto[indice].codprod%>"> <%=produto[indice].codprod%> - <%=produto[indice].descrprod %></div>
            <div id="preco-<%=produto[indice].codprod%>"><%=produto[indice].vlrvenda%></div>
            <div id="estoque-<%=produto[indice].codprod%>">Est: 876</div>
          </button> 
        </div>
      </div>
    </div>
    <% if(v_marca!=produto[indice].marca){  %>
    </div>  
      </div>
    <% } %>
  <% })%> 
</div>

<br><br><br><br>

    <span> Novos dados... </span>
    <div class="container">
      <div class="row">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="salvarPedido()">Finalizar</button>  
      </div>
      
      <br><br>

      <div class="row">
        <table class="table table-sm" id="tableItens">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Produto</th>
              <th scope="col">Unit</th>
              <th scope="col">Qtd</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody id="tbodyItens">
          </tbody>
        </table>
      </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModalTittle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addItemModalTittle">Texto Aqui</h5>
          </div>
          <div class="modal-body">
            <div class="qtdItem mb-2">
              <div class="input-group input-group-lg mb-1">
                <span class="input-group-text" id="inputGroup-sizing-lg">Quantidade</span>
                <input type="number" class="form-control text-end" value=1 id="quantidade">
              </div>
              <div class="input-group input-group-lg mb-3">
                <span class="input-group-text">R$</span>
                <input type="text" class="form-control text-end" id="precoItem">
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <!-- <img src="..." class="card-img-top" alt="..."> -->
              <div class="card-body">
                <p class="card-text text-end" id="estInfo"></p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" onclick="gravarItem()">Salvar</button>
          </div>
        </div>
      </div>
    </div>
    

  
</body>
<%- include ('./partials/footer.ejs') %>
