<%- include ('./partials/header.ejs') %>
<body>
    <%- include ('./partials/navbar.ejs') %>

<div class="accordion" id="accordion">
  <%  var v_marca 
  //console.log(produto)
  console.log(produto[0].marca)
  produto.forEach(function(val,indice) {
    if(v_marca!=produto[indice].marca){
  %>  
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button bg-primary text-light" type="button" data-bs-toggle="collapse" data-bs-target="#<%= produto[indice].marca.replace(' ','') %>" aria-expanded="true" aria-controls="<%= produto[indice].marca.replace(' ','') %>">
        <%= produto[indice].marca %>
      </button>
    </h2>
      <% }
        v_marca = produto[indice].marca
      %>      
    <div id="<%= produto[indice].marca.replace(' ','') %>" class="accordion-collapse collapse" data-bs-parent="#accordion">
      <div class="accordion-body">
        <div class="row">
          <strong><%= indice +'-'+ produto[indice].descrprod %></strong> 
        </div>
      </div>
     </div>
  </div>
  <% })%> 
</div>

  
</body>
<%- include ('./partials/footer.ejs') %>
