<%- include ('./partials/header.ejs') %>
<body>
    <%- include ('./partials/navbar.ejs') %>

  <div class="container-fluid">

  <!--  Cabeçalho do Pedido -->
  <div class="container-fluid sticky-top cabPed" >
    <div class="row" id="cabPed"> 
      <div class="col-6 col-sm-6 col-lg-3  mt-2">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal01" id='btnPedido'>
          <i class="fas fa-dollar-sign"></i> 0.00</button>
      </div>
      <div class="col-6 col-sm-6 col-lg-3  mt-2">
        <button type="button" class="btn btn-success" id="salvarPedido" onclick="salvarPedido()">
          <i class="fas fa-print"></i>
          Salvar
        </button>
      </div>
      <div class="col-9 align-self-center">
        <input class="form-control mt-2" type="search" placeholder="Busca..." aria-label="Search" id="search"  onkeyup="buscaItem()">
      </div>
      <div class="col-3 align-self-center">
        <button class="btn" onclick="limpaBusca()"><i class="fas fa-redo"></i></button>
      </div>
    </div>
    <hr>
  </div>

    <!-- Lista de marcas / itens -->
    <div class="accordion mt-3" id="accordion">
      <%  var v_marca ='xx'
      produto.forEach(function(val,indice) {
        if(v_marca!=produto[indice].marca){
      %>
      <div>
      <div class="accordion-item">
        <h2 class="accordion-header mb-2">
          <div class="accordion-button bg-secondary text-light" type="button" data-bs-toggle="collapse" data-bs-target="#<%= produto[indice].marca.replace(' ','') %>" aria-expanded="true" aria-controls="<%= produto[indice].marca.replace(' ','') %>">
            <%= produto[indice].marca %>
          </div>
        </h2>
          <% }
            v_marca = produto[indice].marca
          %>      
      
        <div class="collapse" id="<%= produto[indice].marca.replace(' ','') %>" data-parent="#accordion">
          <div class="container-fluid">
              <div class="row">
                    <div class="card-body col-6 bg-ligth" id="itens">
                      <%=produto[indice].descrprod%>
                      <span id="span"><strong>R$ <%=produto[indice].vlrvenda%></strong></span>
                
                      <!--Estoque-->
                      <%
                      function defEstoque(estoque){
                        var corEstoque
                        var perEstoque
                        if (estoque<=0) {
                          corEstoque = "danger"    
                          perEstoque = "15"
                        } else if (estoque<100) {
                          corEstoque = "secondary"
                          perEstoque = "25"
  
                        } else if (estoque<200) {
                          corEstoque = "warning"
                          perEstoque = "50"
                        } else {
                          corEstoque = "success"
                          perEstoque = "75"
                        }
                        return {cor: corEstoque, per:perEstoque}
                      }
                      var est = defEstoque(produto[indice].estoque)
                      %>
                      <div class="progress mb-2">
                          <div class="progress-bar progress-bar-striped bg-<%=est.cor%>" role="progressbar" style="width: <%=est.per%>%"
                              aria-valuenow="<%=est.per%>" aria-valuemin="0" aria-valuemax="100">Estoque: <%=produto[indice].estoque%></div>
                      </div>

                      <button class="btn btn-success" id="btnAdd-<%=produto[indice].codprod%>" onclick="loadFormItem(<%=produto[indice].codprod%>)" key="<%=produto[indice].codprod%>|;<%=produto[indice].descrprod%>|;<%=produto[indice].vlrvenda%>|;<%=produto[indice].estoque%>">+</button>
                    </div>
              </div>
          </div> 
        </div>
    
    
        <% if(v_marca!=produto[indice].marca){  %>
        </div>  
          </div>
        <% } %>
      <% })%> 
    </div>
        
  </div><!--  fim do container -->


    <!-- Modal  Inclusão do Item-->
    <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModalTittle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addItemModalTittle">Texto Aqui</h5>
          </div>
          <div class="modal-body">
            <div class="qtdItem mb-2">
              <div class="input-group input-group-lg mb-1">
                <span class="input-group-text" id="inputGroup-sizing-lg">Quantidade</span>
                <input type="number" class="form-control text-end" value=1 id="quantidade">
              </div>
              <div class="input-group input-group-lg mb-3">
                <span class="input-group-text">R$</span>
                <input type="number" class="form-control text-end" id="precoItem" pattern="^\d+(?:\.\d{1,2})?$" step="0.01">
              </div>
            </div>
            <!-- <div class="card" style="width: 18rem;">
              <div class="card-body">
                <p class="card-text text-end" id="estInfo">012345</p>
              </div>
            </div> -->
            <!-- Estoque -->
            <div class="progress mb-2">
              <div class="progress-bar bg-info" role="progressbar" style="width: 90%"
                  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" id="estInfo" >valor alterado pedido.js</div>
            </div>            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" onclick="gravarItem()">Salvar</button>
          </div>
        </div>
      </div>
    </div>

<!-- Modal da lista de Pedido -->
<div class="modal fade" id="Modal01" tabindex="0" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Itens do Pedido</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table table-striped" id="tableItens">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Descrição</th>
                <th scope="col">Preço</th>
                <th scope="col">Qtd</th>
                <th scope="col">Total</th>
                <th scope="col"><i class="fas fa-trash"></i></th>
                <th scope="col"><i class="fas fa-edit"></i></th>
              </tr>
            </thead>
            <tbody id="tbodyItens">
            </tbody>  
            <tfoot id="tfoot">
              <tr class="bg-secondary text-white">
                <td colspan="4">Total:</td>
                <td id="totalped">0.00</td>
                <td></td>
                <td></td>
              </tr>
              <!-- <tr class="bg-dark text-white">
                <td colspan="3">Desconto:</td>
                <td id="vlrDescto">0.00</td>
                <td id="totalLiq">0.00</td>
                <td></td>
              </tr>             -->
            </tfoot>
          </table>
        </div>
        <div class="modal-footer">
         <div class="input-group mb-3">
          <button class="button btn-success mx-2" id="loadDesc" onclick="updateTotal()"> <i class="fas fa-sync"></i> </button>
          <button type="button" class="btn btn-secondary ms-2" data-bs-dismiss="modal" onclick="updateTotal()">Continuar</button>
         </div>
  
        </div>
      </div>
    </div>
  </div>
  <!-- Fim Modal -->    

  
</body>
<%- include ('./partials/footer.ejs') %>
