<%- include ('./partials/header.ejs') %>
<body>
    <%- include ('./partials/navbar.ejs') %>
      <h1>Comercial - Pedido</h1>

<!-- Acordion Loop -->
<% var marca = "Vazio";
    produto.forEach(produtos => {
        while (marca != produtos.marca){
            marca = produtos.marca
        %>
<div class="accordion" id="accordionMarca" >  
    <!--  -->
    <div class="accordion-item">
        <h2 class="accordion-header bg-dark text-light p-3 text-center" id="<%=marca.trim() %>" data-bs-toggle="collapse" data-bs-target="#<%=marca.trim() %>" aria-expanded="true" aria-controls="<%=marca.trim() %>">
            <%= marca %>
        </h2>
        <div id="<%=marca.trim() %>" class="accordion-collapse collapse" aria-labelledby="<%=marca.trim() %>" data-bs-parent="accordionMarca">
            <div class="row accordion-body">
                <div class="row">
                    <%= produtos.descrprod %>
                </div>
            </div>    
        </div>

    </div>
</div>
<% }
    })%> 


</body>
<%- include ('./partials/footer.ejs') %>
